.product-details-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-details-wrapper img {
  max-width: 100px;
  height: auto;
}

[data-product-badge]:has(.custom-badge) {
  display: flex;
}

[data-product-badge]:has(.custom-badge) > :first-child {
  margin-right: 0.5rem;
}

.product-page__policies.rte.text-link-animated {
  font-size:12px;
}